@{
    ViewData["Title"] = "Home Page";
}

<div class="Account-Head-div">
    <h2>Welcome to</h2>
    <h1>The Garden Of Your Mind<h1>
    <h3>Wont You Be My Neighbor?</h3>
</div>

<img id="hero-img" src="~/img/hero-image.jpg">

<p id="home-log-in" class="btn log-in">@Html.ActionLink("Log In","Index", "Account")</p>
