@using EFMRN2.ViewModels

@model LoginViewModel

<div class="Account-Head-div">
    <h2>Welcome to</h2>
    <h1>The Garden Of Your Mind<h1>
    <h3>Wont You Be My Neighbor?</h3>
</div>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="Log in" class="btn log-in-input" />
}