@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color: rgb(246,248,246);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

#TileDivs > div {
  border: .25em solid black;
}

#GameContainer {
  margin: 0 auto;
}

.Account-Head-div {
  width: fit-content;
  margin: 0 auto;
}

.Account-Head-div h1 {
  font-size: 3em;
  color: rgb(48,84,49);
  font-weight: normal;
  margin: 0;
}

.Account-Head-div h2 {
  color: rgb(48,84,49);
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 0;
}

.Account-Head-div h3 {
  text-align: right;
  color: rgb(48,84,49);
  font-weight: normal;
  font-size: 2em;
  margin-top: 0;
}

.floor {
  background-color: rgb(205, 233, 198);
}

.wall {
  background-color: rgb(19, 36, 19);
}

.void {
  background-color: black;
}

.mud {
  background-color: brown;
}
.pressure {
  background-color: cyan;
}