body {
  background-color: rgb(246,248,246);
}

#TileDivs > div {
  background-color: blue;
  border: .25em solid black;
}

#GameContainer {
  margin: 0 auto;
}

#Account-Head-div {
  width: fit-content;
  color: rgb(48,84,49);
}

#Account-Head-div h3 {
  text-align: right;
}