<script src="~/js/AudioManager.js"></script>
<div class="audio">
  <audio id='main-theme'>
    <source src="https://drive.google.com/file/d/1g7hMzGXYpvD7N_BKe6yMspRBaR0hiaw0/view?usp=sharing">
  </audio>
</div>